

.post_card{
    border: .5px solid var(--information-color);
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 45rem;
    background-color: var(--bg-color);
}
.post_vote{
    padding-top: 1rem;
    padding-left: 2rem;
    height: 7rem;
    width: 5rem;
    color: var(--information-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}


.post_info{
    height: 10rem;
    padding-left:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 35;
    /* border-left: .5px solid var(--information-color); */
}
.community_name{
    font-weight: bold;
    color:var(--information-color);
    font-size: 1.1rem;
}
.puser_details{
    color:var(--information-color);
    text-decoration : none;
    font-weight: 100;
    font-size: .8rem;
}

.buttons{
    display: flex;
    height: 3rem;
    width: 15rem;
    flex-direction: row;
    justify-content: space-evenly;
}
.comments{
   color: white;
   text-align: center;
   align-items: center;
   width: 7rem;
   cursor: pointer;
}
.read_post{
    height: 1.5rem;
    cursor: pointer;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .2rem;
    color: var(--information-color);
    background-color: rgb(191, 52, 1);
}

.data{
    height: 4rem;
    width: 35rem;
    color: var(--information-color);
}
