.homecard{
    border: 1px solid white;
    height: 16rem;
    width: 19rem;
    border-radius: .5rem;
    padding:0 .6rem .5rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image-content{
    display: flex;
    height: 10rem;
    flex-direction: column;
    justify-content: space-evenly;
    img{
    height: 4rem;
    width: 19rem;
    }
    p{
        color: white;
    }
}
.homecard-button{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.post-button{
    border: 1px solid orangered;
    background-color: white;
    color: orangered;
    height: 2rem;
    width: 18rem;
    border-radius: .2rem;
    cursor: pointer;
}
.community-button{
    background-color: orangered;
    color: white;
    border: none;
    height: 2rem;
    width: 18rem;
    border-radius: .2rem;
    cursor: pointer;
}